@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";    
}

<div class="text-center">
    <h1 class="display-4">Hallo :) </h1>
    <h1 class="display-4">Dont ever give up :) </h1>
    <p>Listen to this <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> CLICK ME!!!</a>.</p>
</div>
